@inherits Localhost.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using Localhost.Models.Growing
@using Microsoft.AspNetCore.Identity
@using Localhost.Models
<RadzenDialog />
<RadzenNotification />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-md-6 d-flex align-items-center">
        <RadzenSidebarToggle Click="@SidebarToggle0Click">
        </RadzenSidebarToggle>
        <RadzenLabel style="color: RGBA(255, 165, 0, 1); font-family: arial,helvetica,sans-serif; font-size: 30px; font-style: normal; font-weight: bolder" Text="gr0wing.io">
        </RadzenLabel>
      </div>
      <div class="col-md-6 text-lg-right">
        <RadzenProfileMenu Visible="@(Security.IsAuthenticated())" Click="@Profilemenu0Click">
          <ChildContent>
            <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new">
            </RadzenProfileMenuItem>
          </ChildContent>
          <Template>
            <RadzenGravatar Email="@(Security.User?.Name)">
            </RadzenGravatar>
          </Template>
        </RadzenProfileMenu>
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
  <ChildContent>
    <RadzenPanelMenu style="height: 100%">
      <ChildContent>
        <RadzenPanelMenuItem Path="tbl-trays" Text="Production" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Path="tbl-tray-types" Text="Tray Types" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Path="tbl-seeds" Text="Seeds" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Path="tbl-orders" Text="Orders" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Path="tbl-seasons" Text="Seasons" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Path="add-tbl-customer" Text="Customers" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Path="tbl-suppliers" Text="Suppliers" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Path="application-users" Text="Users" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
      </ChildContent>
    </RadzenPanelMenu>
  </ChildContent>
</RadzenSidebar>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="gr0wing.io, Copyright Ⓒ 2020">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
