@page "/add-tbl-season"
@layout MainLayout
@inherits Localhost.Pages.AddTblSeasonComponent

@using Radzen
@using Radzen.Blazor
@using Localhost.Models.Growing
@using Microsoft.AspNetCore.Identity
@using Localhost.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblseason" TItem="Localhost.Models.Growing.TblSeason" Visible="@(tblseason != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="SeasonName" style="width: 100%" Text="Season Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(tblseason.SeasonName)" Name="SeasonName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="SeasonName" style="position: absolute" Text="SeasonName is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-bottom: 3px; margin-left: 3px; margin-right: 3px; margin-top: 3px" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
