@page "/tbl-orders"
@layout MainLayout
@inherits Localhost.Pages.TblOrdersComponent

@using Radzen
@using Radzen.Blazor
@using Localhost.Models.Growing
@using Microsoft.AspNetCore.Identity
@using Localhost.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Orders">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblOrdersResult" TItem="Localhost.Models.Growing.TblOrder" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblOrder" Property="OrderId" Title="Order Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblOrder" Property="OrderSequence" Title="Order Sequence">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblOrder" FormatString="{0:MM/dd/yyyy}" Property="OrderDeliveryDate" Title="Order Delivery Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblOrder" Property="OrderDelivered" Title="Order Delivered">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblOrder" FilterProperty="TblCustomer.CustomerName" Property="CustomerId" SortProperty="TblCustomer.CustomerName" Title="Tbl Customer">
              <Template Context="data">
              @(data.TblCustomer?.CustomerName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="localhostModelsGrowingTblOrder">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, localhostModelsGrowingTblOrder))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
