@page "/tbl-trays"
@layout MainLayout
@inherits Localhost.Pages.TblTraysComponent

@using Radzen
@using Radzen.Blazor
@using Localhost.Models.Growing
@using Microsoft.AspNetCore.Identity
@using Localhost.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Trays">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblTraysResult" TItem="Localhost.Models.Growing.TblTray" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblTray" Property="TrayId" Title="Tray Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblTray" FilterProperty="TblTrayType.TrayName" Property="TrayTypeId" SortProperty="TblTrayType.TrayName" Title="Tbl Tray Type">
              <Template Context="data">
              @(data.TblTrayType?.TrayName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblTray" FilterProperty="TblSeed.SeedName" Property="SeedId" SortProperty="TblSeed.SeedName" Title="Tbl Seed">
              <Template Context="data">
              @(data.TblSeed?.SeedName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblTray" FilterProperty="TblCustomer.CustomerName" Property="CustomerId" SortProperty="TblCustomer.CustomerName" Title="Tbl Customer">
              <Template Context="data">
              @(data.TblCustomer?.CustomerName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblTray" Property="TraySequenceNumber" Title="Tray Sequence Number">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblTray" FormatString="{0:MM/dd/yyyy}" Property="TraySowingDate" Title="Tray Sowing Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblTray" FormatString="{0:MM/dd/yyyy}" Property="TrayUpdateDate" Title="Tray Update Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblTray" FormatString="{0:MM/dd/yyyy}" Property="ExpiryDate" Title="Expiry Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblTray" Property="Status" Title="Status">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Localhost.Models.Growing.TblTray" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="localhostModelsGrowingTblTray">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, localhostModelsGrowingTblTray))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
